<%- include('../includes/header.ejs') %>

</head>

<body>

    <div id="contextWrap">
        <!--left sidebar-->
        
        <!--left sidebar-->

        <!--rightsidebar-->
        
        <!--rightsidebar-->

        <div class="pusher">
            <!--navbar-->
            
            <!--navbar-->

            <!--maincontent-->
            <div class="mainWrap navslide">
                <div class="ui equal width left aligned padded grid stackable"> <!-- ui equal width left aligned padded grid stackable -->
                    
                    <div class="stretched row">
                        <div class="sixteen wide tablet thirteen wide computer column">
                            <div class="ui segments">
                                <div class="ui segment no-padding-bottom">
                                    <h5 class="ui left floated header">
                                        Template Form
                                    </h5>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="ui segment left aligned">
                                
                                    <button class="ui basic button">Test Button</button>
                                


                                    <div class="ui inverted dimmer">
                                        <div class="ui text loader">Loading</div>
                                    </div>
                                </div>
                            </div>
                
                        </div>
                    </div>
                </div>
            <!--maincontent-->
            </div>
        </div>
    </div>
    
<%- include('../includes/footer.ejs') %>