<div class="row">
    <div class="sixteen wide tablet sixteen wide computer column">
        <div class="ui segment">
            <input type="hidden" id="name-user" value="<%= currentUser.username %>">
            <input type="hidden" id="name-image" value="<%= currentUser._id %>">
            <input type="hidden" id="empname-user" value="<%= currentUser.emp_name %>">
            <!-- <span id="numOfUsers"></span> -->
            <div class="onlineUsers">
                <!-- <a class="ui image label">
                    <img src="/img/avatar/elliot.jpg">
                    Elliot
                </a> -->
            </div>
        </div>
    </div>
</div>